/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: darkslategrey; */
}
#grad1 {
    height: absolute;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(black, darkslategrey);
  }

nav {
    /* background-color: rgb(27, 22, 17); */
    color: rgb(87, 81, 51);
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    top: 0;
    z-index: 1000;
    align-items: center;
    text-align: center ;
    font-size: large;
   
}
    button{
    background-color: #ca6f32; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 0px; /* Bordes redondeados */

}
nav .logo img.nav-icon {
    width: 50px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
}

nav .logo {
    width: 50px;
    margin: 0 auto;

}

nav ul {
    list-style: none;
    display: flex;
    padding-left: 90%;
}

nav ul li {
    margin-left: 2rem;
    margin: 0 30px;   
}
    

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Personalización de la leyenda del carrusel */
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
}

.carousel-caption h1 {
    color: #fff; /* Color del texto */
    font-size: 2.5rem; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra del texto */
    text-align: center;
}

.item img {
    width: 100px;
    height: 520px; /* Fixed height for all images */
    object-fit: cover; /* Ensures that images cover the container without distorting */
    display: block;
    padding-right: 0;
    padding-left: 0;

}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

section {
    padding: 2rem;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}


.nosotros{
    margin: 10px;
    padding-left: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

.nosotros img {
    width: 50%;
    display:0;
}
.gringo-img{
    width: 30%;
    border-radius: 8px; /* Bordes redondeados */
}

.cerveza {
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: center;
}

.cerveza img {
    width: 95%;
    border-radius: 8px; /* Bordes redondeados */
}
.cerveza button{
    background-color: #ca6f32; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 0px; /* Bordes redondeados */

}

.locales-imgs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px;
    padding: 50px;
}

.locales-imgs img {
    width: 30%;
    padding-left: 10px;
    margin: 60x;
    padding: 3rem;
}

#mapas {
    height: 500px; /* Altura del mapa */
    width: 80%; /* Ancho del mapa */
    margin: 50px auto; /* Centrar el mapa y añadir margen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #ccc; /* Borde del contenedor */
    }

.container-form{
   
    align-items: center; /* Alinea verticalmente en el centro */
    gap: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
    max-width: 50%; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
    }
    
.container-form form .campo, textarea{
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
        flex-wrap: nowrap;
    }
    
.container-form form textarea{
        max-width: 918px;
        max-width: 530px;
        min-height: 140px;
        max-height: 150px;
        flex-wrap: nowrap;
        width: 100%;
        height: 250%;
    }
    
.container-form .btn-enviar{
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0px;
        background-color: #ca6f32;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300 ease;
        flex-wrap: nowrap;
    }
    
.container-form .btn-enviar{
        background-color: #ca6f32;
        flex-wrap: nowrap;
    }

.centertext {
    text-align: center;
}

.container {
    display: flex; /* Usa flexbox para alinear la imagen y el texto en una fila */
    align-items: center; /* Alinea verticalmente en el centro */
    gap: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
    max-width: 80%; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
}

.container-mapas {
    display: flex; /* Usa flexbox para alinear la imagen y el texto en una fila */
    align-items: center; /* Alinea verticalmente en el centro */
    gap: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
    max-width: 50%; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: rgb(95, 75, 32);
    color: #c5c3c3;
    text-align: center;
    bottom: 0;
    padding: 0.5px;
    font-family: open sans-serif;
    font-size: 12px;
}