/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: darkslategrey; */
}
#grad1 {
    height: absolute;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(black, darkslategrey);
  }

nav {
    /* background-color: rgb(27, 22, 17); */
    color: rgb(87, 81, 51);
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    top: 0;
    z-index: 1000;
    align-items: center;
    text-align: center ;
    font-size: large;
    height: 60px;
   
}

button{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #ca6f32;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300 ease;
}
a{
    text-decoration: none;
    color: white;
}
nav .logo img.nav-icon {
    width: 50px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
}

nav .logo {
    padding-left: 145%
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-left: 20%;
}

nav ul li {
   float: left;
   margin-top: 20px; 
}
    

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-left: 150px;
    padding-top: 5px;
}

/* Personalización de la leyenda del carrusel */
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
}

.carousel-caption h1 {
    color: #fff; /* Color del texto */
    font-size: 2.5rem; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra del texto */
    text-align: center;
}

.item img {
    width: 100px;
    height: 520px; /* Fixed height for all images */
    object-fit: cover; /* Ensures that images cover the container without distorting */
    display: block;
    padding-right: 0;
    padding-left: 0;

}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

section {
    padding: 2rem;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}


.nosotros{
    margin: 10px;
    padding-left: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros img {
    width: 50%;
    display:0;
}
.gringo-img{
    width: 30%;
    border-radius: 8px; /* Bordes redondeados */
}

.cerveza {
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: center;
}

.cerveza img {
    width: 95%;
    border-radius: 8px; /* Bordes redondeados */
}
.cerveza button{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #ca6f32;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300 ease;
    
}

.locales-imgs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.locales-imgs img {
    width: 30%;
    padding-left: 10px;
    margin: 60x;
    padding: 3rem;
}

#mapas {
    height: 500px; /* Altura del mapa */
    width: 80%; /* Ancho del mapa */
    margin: 50px auto; /* Centrar el mapa y añadir margen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #ccc; /* Borde del contenedor */
    }

.container-form{
    max-width: 40%; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
    }
    
.container-form form .campo, textarea{
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
.container-form form textarea{
    min-height: 140px;
}
    
.container-form .btn-enviar{
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0px;
        background-color: #ca6f32;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300 ease;
    }
    
.container-form .btn-enviar{
        background-color: #ca6f32;
    }

footer {
    background-color: #ca6f32;  
    color: #0e0e0e;
    text-align: center;
    bottom: 0;
    padding: 25px;
    font-size: 12px;
}

.centertext {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;
    margin: 10px 10px;
}


.container {
    display: flex; /* Usa flexbox para alinear la imagen y el texto en una fila */
    align-items: center; /* Alinea verticalmente en el centro */
    gap: 40px; /* Espacio entre la imagen y el texto */
    padding: 30px;
    max-width: 70%; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
}

.container-nosotros {
    display: flex; /* Usa flexbox para alinear la imagen y el texto en una fila */
    flex-direction: column;
    align-items: center; /* Alinea verticalmente en el centro */
    padding: 30px;
    max-width: 70%; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
}

.container-mapas {
    display: flex; /* Usa flexbox para alinear la imagen y el texto en una fila */
    align-items: center; /* Alinea verticalmente en el centro */
    gap: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
    max-width: 50%; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
}

.destacado{
    color: #ca6f32;
    font-size: larger;
}

.titulos{
    color: beige;
    font-size: 40px;
}

.item{
    text-align: center;
}
